# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*

# build folders
dist/
build/

# cache
.cache/
.parcel-cache/

# next.js
.next/

# nuxt.js
.nuxt/

# vite
.vite/

# coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# temporary files
tmp/
temp/